<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234677169665-i4v641a6pam9p6i0k3aoikhciveg8ck5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234677169665-i4v641a6pam9p6i0k3aoikhciveg8ck5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>234677169665-3olksa90932kj371g62u5qc9qo8avlj4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCbYR3hgmmGwrzxGEYI6U_Z84GIg2sLPOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>234677169665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mustafashaheen.roadstardriver</string>
	<key>PROJECT_ID</key>
	<string>lofty-cabinet-267422</string>
	<key>STORAGE_BUCKET</key>
	<string>lofty-cabinet-267422.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234677169665:ios:b1a7634cc5b5f75e309a00</string>
	<key>DATABASE_URL</key>
	<string>https://lofty-cabinet-267422-default-rtdb.firebaseio.com</string>
</dict>
</plist>